body {
  background-image: url("../images/bg1.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #ffffff;
  
}
h1{
  font-size: 50px;
  text-align: center;
}
.rightside{
  float: right;
}
.image-div{
  align-items: center;
  float: left;
  width: 500px;
}
#myface {
  width: inherit;
  height:500px;
  border-radius: 100pc ;
}
h3{
  text-align: center;
}